<template name="home">
  <div class="page home">

    {{>nav title='深夜食堂' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/logo-type.svg" alt="Local Market"/>
        </h1>
        <span class="hours"><span class="title-callout">营业时间</span>
        周一 ~ 五 3-12pm, 六 12am-12pm</span>
        <span class="arrow"></span>
      </div>

      <div class="callout-news">
        <span class="title-callout">最新公告：</span>
        {{latestNews.text}}
      </div>

      <h2 class="list-title">每日推荐...</h2>
      <div class="list-subtitle">看看今天我们正在为吃货们准备些什么吧</div>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">抢购一空了!</div>
            <div class="subtitle-message">敬请等待新品上市。</div>
          </div>
        {{/each}}
      </div>
      <a href="{{pathFor 'feed'}}" class="btn-primary">点击查看所有热卖菜...</a>

      <h2 class="list-title">经典菜品</h2>
      <div class="list-subtitle">日常供应的经典菜品</div>
      <div class="list-recipes">
        {{#each featuredRecipes}}
          {{> recipeItem recipe=this size='small'}}
        {{/each}}
      </div>

      <a href="{{pathFor 'recipes'}}" class="btn-primary">点击查看所有菜品</a>
    </div>

  </div>
</template>